doctype html
html(lang="en")
    head
        title Registered Files
        link(rel="stylesheet",href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        
          
          
       
    body
      //- div.container-fluid.bg-secondary.mb-4
      //-   div.card-body.text-center
          //- div.container
          //-   h3.text-white My first Express App
      br
      block content
      

    

